@page "/"

    <div class="container p-5">
        <h1 class="card-header-pills">Experimental Blazor MVVM project</h1>

        <h2 class="toast-header mt-2">In/decrement a counter</h2>
        <CounterView />

        <h2 class="toast-header mt-2">Adding Friends</h2>
        <FriendsView />
    </div>

